@keyframes fade {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.5;
  }
}

.instagram-grid {
  position: relative;
  display: grid;
  width: 100%;
  overflow: visible;
  padding: 6px;
  grid-template-columns: repeat(5,1fr);
  column-gap: 6px;
  margin: 90px 0 0;
  min-height: 250px;
  padding-left: 20%;

  &::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: var(--black);
    opacity: 0;
  }

  .octo-instagram-icon {
    height: 420px;
    width: 420px;
    position: absolute;
    left: 0;
    bottom: 0;
    mix-blend-mode: difference;
    transform: translate(-50%,0%);
    
    &__outer {

    }

  }

  &__image {
    height: 250px;
    display: flex;
    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background: #d6249f;
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );

      animation: alternate-reverse var(--long-duration) infinite fade
        easeInOutCirc;

      &--loaded {
        animation: none;
      }
    }
  }
}
