.kadim-404 {
  max-width: 350px;
  margin: 120px auto;
  text-align: center;

  &__title-404 {
    font-size: 8rem;
    color: transparent !important;
    -webkit-text-stroke: 2px var(--accent-color);
  }

  &__title {
  }

  &__description {
    margin-top: 26px;
    font-weight: 500;
    opacity: 0.9;
    margin-bottom: 14px;
  }

  &__homelink {
    color: var(--accent-text-color);
    font-weight: bold;
    text-decoration: underline;
  }
}
