@keyframes buttonLoading {
  0% {
    box-shadow: 5px 6px var(--accent-text-color);
  }

  100% {
    box-shadow: -5px -6px var(--accent-text-color);
    filter: invert(1);
  }
}

@keyframes float {
  0% {
    transform: translatey(2px);
  }

  100% {
    transform: translatey(-2px);
  }
}

.kadim-posts {
  &__loadmore {
    margin: 0 auto;
    display: block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accent-text-color);
    background: var(--accent-color);
    border: none;
    cursor: pointer;
    min-width: 180px;
    box-shadow: 5px 6px var(--accent-text-color);
    transition: all var(--short-duration) easeOutQuint;
    .icon {
      height: 1.25rem;
      width: 1.25rem;
    }

    &--loading {
      filter: grayscale(0.4);
      animation: alternate var(--long-duration) infinite buttonLoading
        easeInOutQuint;

      .icon {
        animation: alternate-reverse float var(--long-duration) easeInOutQuint
          infinite;
      }
    }
  }
}
