@import "./base/settings.css";


.notice {
  padding: 1rem 2rem 1rem 4rem;
  
  &__close {
    left: 1rem;
    right: unset;
  }

}

.sidemenu-btn {
  margin-left: unset;
  margin-right: 68px;
  left: unset;
  right: 0;
}

.search-btn {
  margin-left: unset;
  margin-right: calc(90px + 2.5rem);
  left: unset;
  right: 0;
}

.menu {
  padding: 0 6rem 0 3.25rem;

  &__item {
    
    &--has-children {
      padding-left: 10px;
      padding-right: 0;
    }

  }

  &__item--has-children > a &__dropdown-icon {  
    left: 5px;
    right: unset;
    transform: translateX(-.625rem); 
  }

  &__item--has-children:hover > a &__dropdown-icon,
  &__item--has-children:focus-within > a &__dropdown-icon {
    transform: translateX(-4px);
  }

  &__sub-menu {
    left: unset;
    right: 0;
  }

  &__sub-menu &__item {

    a {
      padding: 1.375rem 1.375rem 1.375rem .625rem;
    }

    &:hover, &:focus-within {
      padding-right: 4px; 
    }


  }

  &__sub-menu &__item:hover, &__sub-menu &__item:focus-within {

  }

  &__sub-menu &__sub-menu {
    left: unset;
    right: 100%;
    margin: 0 5px 0 0;
  }

  &__sub-menu &__item--has-children &__dropdown-icon {
    left: 10px;
    transform: rotate(90deg);
    right: unset;
  }

}

.navbar {

  .btn-scheme {
    margin-left: 68px;
    left: 0;
    right: unset;
  }

}

.sidebar {
  transform: translate(100%);
  &--expanded {
    transform: translate(0);
  }
  &__collapse {
    right: unset;
    left: 20px;
  }
}

.sidemenu {
  &__dropdown-icon {
    transform: scale(.75) translate(-10px);
  }
  &__item--has-children[expanded=true]> a &__dropdown-icon {
    transform: scale(.75) translate(-10px) rotate(180deg);
  }

}

.search-form {
  &__label {
    left: unset;
    right: 16px;
  }

  &__submit {
    right: unset;
    left: 0;
  }
}

.compact-slider {
  &__footer__container {
    padding: .625rem 1.25rem .625rem 2.5rem;
  }
  &__author__avatar {
    margin-left: 8px;
    margin-right: 0;
  }
}


.post-card {
  &__readmore-btn {
    right: unset;
    left: 0;
    box-shadow: -5px 6px var(--accent-text-color),-20px 30px 0 50px var(--body-background-color);
  }
}

.kadim-btn, input[type=submit] {
  box-shadow: -5px 6px var(--accent-text-color);
}

/* ==== single === */

.kadim-single-post {
  &__comments-title,
  .related-posts__title {
    &::after {
      margin: 0 16px 0 0;
    }
  }

  &__comments-list { 
    
    .comment-meta {
      right: unset;
      left: 32px;
    }

    .comment.parent .comment {
      margin-left: 0;
      margin-right: 20px;
      padding-left: 0;
      border-left: 0;
      padding-right: 37px;
      border-right: 2px solid var(--gray-5);
    }
    

    .comment {
      .reply {
        text-align: left;
      }
    }

  }

  &__content {

    dl dt+dd::before {
      margin-left: 12px;
      margin-right: 0;
    }
    
    .wp-block-columns .wp-block-column:after {
      left: -30px;
      right: unset;
    }

    ul,
    ol {
      &:not(.blocks-gallery-grid, .wp-block-latest-comments) {
        list-style: none;
        ul,
        ol {
          padding-right: 28px;
          padding-left: 0;
          margin-right: 12px;
          margin-left: 0;
          border-left: 0;
          border-right: 2px solid var(--gray-5);
        }
      }

    }

  }

  &__pagination .icon {
    transform: scaleX(-1);
  }

}

.author-card {
  &__title {
    &::after {
      margin: 0 16px 0 0;
    }
  }
  
  &__more {
    text-align: left;
  }

}

/* gutenberg */

.wp-block-image {

  .alignleft {
    margin-left: 0;
    margin-right: 1rem;
  }

  
  .alignright {
    margin-left: 1rem;
    margin-right: 0;
  }

}

.wp-block-button {
  &__link {
    box-shadow: -5px 6px var(--accent-text-color)
  }
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption.wp-element-caption {
  transform: translate(50%, 16px) ;  
  right: 50%;
}

.wp-block-gallery.has-nested-images figure.wp-block-image:hover figcaption.wp-element-caption {
  transform: translate(50%);
}

.wp-block-latest-comments .avatar, .wp-block-latest-comments__comment-avatar {
  margin-left: 0;
}

.wp-block-columns {
  .wp-block-column {
    &::after {
      left: -50px;
      right: unset;
    }
  }
}

.wp-block-archives li a:focus, .wp-block-archives li a:hover {
  transform: translate(-5px) scale(1.05);
}

.wp-block-latest-comments{ 

  &__comment {
    transform-origin: right;
  }

  &__comment:hover &__comment-avatar {
    transform: scale(1.1) translate(30%,-35%);
  }

  &__comment-avatar {
    transform: translate(30%,-35%);
    right: 0;
    left: unset;
  }
  
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt, .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
  margin-right: 0;
}

.wp-block-tag-cloud a:before {
  margin: 0 0 0 6px;
}

.wp-block-pages-list { 
  &__item{ 

    &.has-child {
      .submenu-container, .wp-block-navigation__submenu-container {
        border-right: 2px solid var(--gray-5);
        border-left: 0 !important;
        margin: 4px 15px 5px 4px;
        padding-right: 20px;
        padding-left: 0;
        
      } 
    }

  }
}
/**/

.instagram-grid {
  direction: ltr;
  &__container {
    transform: scaleX(-1)
  }
  &__image {
    .image {
      transform: scaleX(-1);
    }
  }
  &__video {
    .video {
      transform: scaleX(-1);
    }
  }
}